.rules-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-image: url(/src/background-crumpled-paper-sheet_1194-7545.jpg);
  background-size: cover;
  color: black;
  font-size: 1.2rem;
  padding: 20px;
  font-weight: bold;
  font-family: "Architects Daughter", cursive;
  width: 80%;
  height: fit-content;
}

button {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: fit-content;
  height: max-content;
  margin-bottom: 10px;
}

button:hover {
  opacity: 0.8;
}

.rules-button {
  justify-content: left;
}
