.title-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  font-family: "Sigmar One", cursive;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
